/**
 * Pimcore
 *
 * This source file is available under two different licenses:
 * - GNU General Public License version 3 (GPLv3)
 * - Pimcore Enterprise License (PEL)
 * Full copyright and license information is available in
 * LICENSE.md which is distributed with this source code.
 *
 * @copyright  Copyright (c) Pimcore GmbH (http://www.pimcore.org)
 * @license    http://www.pimcore.org/license     GPLv3 and PEL
 */

.x-tree-icon {
    width: 18px!important;
}

.x-btn-icon-el, .x-tab-icon-el {
    /* this is for pimcore_icon_overlay_* */
    position: relative;
}

.pimcore_icon_overlay_add, .pimcore_icon_overlay_delete, .pimcore_icon_overlay_edit, .pimcore_icon_overlay_go,
.pimcore_icon_overlay_download, .pimcore_icon_overlay_upload, .pimcore_icon_overlay_search, .pimcore_icon_overlay_error {
    /*position: relative;*/
}

.pimcore_icon_overlay_add:before {
    position: absolute;
    width: 12px;
    height: 12px;
    bottom: 0px;
    right: 0px;
    content: "";
    background: url(/pimcore/static6/img/flat-color-icons/plus.svg) center center no-repeat !important;
}

.pimcore_icon_overlay_delete:before {
    position: absolute;
    width: 12px;
    height: 12px;
    bottom: 0px;
    right: 0px;
    content: "";
    background: url(/pimcore/static6/img/flat-color-icons/delete.svg) center center no-repeat !important;
}

.pimcore_icon_overlay_edit:before {
    position: absolute;
    width: 16px;
    height: 16px;
    bottom: 0px;
    right: 0px;
    content: "";
    background: url(/pimcore/static6/img/flat-color-icons/edit.svg) center center no-repeat !important;
}

.pimcore_icon_overlay_go:before {
    position: absolute;
    width: 14px;
    height: 14px;
    bottom: 0px;
    right: 0px;
    content: "";
    background: url(/pimcore/static6/img/flat-color-icons/go.svg) center center no-repeat !important;
}

.pimcore_icon_overlay_download:before {
    position: absolute;
    width: 16px;
    height: 16px;
    bottom: 0px;
    right: 0px;
    content: "";
    background: url(/pimcore/static6/img/flat-color-icons/download.svg) center center no-repeat !important;
}

.pimcore_icon_overlay_upload:before {
    position: absolute;
    width: 16px;
    height: 16px;
    bottom: 0px;
    right: 0px;
    content: "";
    background: url(/pimcore/static6/img/flat-color-icons/upload.svg) center center no-repeat !important;
}

.pimcore_icon_overlay_search:before {
    position: absolute;
    width: 14px;
    height: 14px;
    bottom: 0px;
    right: 0px;
    content: "";
    background: url(/pimcore/static6/img/flat-color-icons/search.svg) center center no-repeat !important;
}

.pimcore_icon_overlay_error:before {
    position: absolute;
    width: 14px;
    height: 14px;
    bottom: 0px;
    right: 0px;
    content: "";
    background: url(/pimcore/static6/img/flat-color-icons/high_priority.svg) center center no-repeat !important;
}

.pimcore_icon_overlay_reading:before {
    position: absolute;
    width: 14px;
    height: 14px;
    bottom: 0px;
    right: 0px;
    content: "";
    background: url(/pimcore/static6/img/flat-color-icons/reading.svg) center center no-repeat !important;
}

.pimcore_icon_overlay_setting:before {
    position: absolute;
    width: 14px;
    height: 14px;
    bottom: 0px;
    right: 0px;
    content: "";
    background: url(/pimcore/static6/img/flat-color-icons/engineering.svg) center center no-repeat !important;
}


.pimcore_icon_home, .pimcore_icon_site {
    background: url(/pimcore/static6/img/flat-color-icons/home.svg) center center no-repeat !important;
}

.pimcore_icon_page {
    background: url(/pimcore/static6/img/flat-color-icons/page.svg) center center no-repeat !important;
}

.pimcore_icon_folder, .pimcore_icon_load_import_config {
    background: url(/pimcore/static6/img/flat-color-icons/opened_folder.svg) center center no-repeat !important;
}

.pimcore_icon_link, .pimcore_icon_operator_requiredby {
    background: url(/pimcore/static6/img/flat-color-icons/link.svg)  center center no-repeat !important;
}

.pimcore_icon_hardlink {
    background: url(/pimcore/static6/img/flat-color-icons/broken_link.svg)  center center no-repeat !important;
}

.pimcore_icon_document {
    background: url(/pimcore/static6/img/flat-color-icons/document.svg) center center no-repeat !important;
}

.pimcore_icon_asset {
    background: url(/pimcore/static6/img/flat-color-icons/asset.svg) center center no-repeat !important;
}

.pimcore_icon_object {
    background: url(/pimcore/static6/img/flat-color-icons/object.svg) center center no-repeat !important;
}

.pimcore_icon_snippet {
    background: url(/pimcore/static6/img/flat-color-icons/snippet.svg)  center center no-repeat !important;
}

.pimcore_icon_email {
    background: url(/pimcore/static6/img/flat-color-icons/email.svg) center center no-repeat !important;
}

.pimcore_icon_delete {
    background: url(/pimcore/static6/img/flat-color-icons/delete.svg) center center no-repeat !important;
}

.pimcore_icon_add {
    background: url(/pimcore/static6/img/flat-color-icons/plus.svg) center center no-repeat !important;
}

.pimcore_icon_save {
    background: url(/pimcore/static6/img/flat-color-icons/ok.svg) center center no-repeat !important;
}


.pimcore_icon_save_white {
    background: url(/pimcore/static6/img/flat-color-icons/checkmark-white.svg) center center no-repeat !important;
}

.pimcore_icon_reload {
    background: url(/pimcore/static6/img/flat-color-icons/synchronize.svg) center center no-repeat !important;
}

.pimcore_icon_key {
    background: url(/pimcore/static6/img/flat-color-icons/key.svg) center center no-repeat !important;
}

.pimcore_icon_droptarget  {
    background: url(/pimcore/static6/img/flat-color-icons/target.svg) center center no-repeat !important;
}

.pimcore_icon_cut, .pimcore_icon_operator_splitter {
    background: url(/pimcore/static6/img/flat-color-icons/scissors.svg) center center no-repeat !important;
}

.pimcore_icon_copy {
    background: url(/pimcore/static6/img/flat-color-icons/copy.svg) center center no-repeat !important;
}

.pimcore_icon_paste {
    background: url(/pimcore/static6/img/flat-color-icons/paste.svg) center center no-repeat !important;
}

.pimcore_icon_unpublish {
    background: url(/pimcore/static6/img/flat-color-icons/cancel.svg) center center no-repeat !important;
}

.pimcore_icon_publish, .pimcore_icon_operator_published {
    background: url(/pimcore/static6/img/flat-color-icons/publish.svg) center center no-repeat !important;
}

.pimcore_icon_convert {
    background: url(/pimcore/static6/img/flat-color-icons/redo.svg) center center no-repeat !important;
}

.pimcore_icon_search {
    background: url(/pimcore/static6/img/flat-color-icons/search.svg) center center no-repeat !important;
}

.pimcore_icon_lock {
    background: url(/pimcore/static6/img/flat-color-icons/lock.svg) center center no-repeat !important;
}

.pimcore_icon_open {
    background: url(/pimcore/static6/img/flat-color-icons/cursor.svg) center center no-repeat !important;
}

/* assets */

.pimcore_icon_doc, .pimcore_icon_docx {
    background: url(/pimcore/static6/img/flat-color-icons/word.svg) center center no-repeat !important;
}

.pimcore_icon_zip, .pimcore_icon_rar, .pimcore_icon_ace, .pimcore_icon_7z, .pimcore_icon_gz, .pimcore_icon_tar {
    background: url(/pimcore/static6/img/flat-color-icons/package.svg) center center no-repeat !important;
}

.pimcore_icon_jpeg, .pimcore_icon_jpg, .pimcore_icon_png, .pimcore_icon_gif, .pimcore_icon_tif, .pimcore_icon_psd, .pimcore_icon_psb, .pimcore_icon_eps, .pimcore_icon_ai, .pimcore_icon_svg, .pimcore_icon_svgz, .pimcore_icon_bmp, .pimcore_icon_pcx, .pimcore_icon_iff, .pimcore_icon_pct, .pimcore_icon_wmf, .pimcore_icon_svg {
    background: url(/pimcore/static6/img/flat-color-icons/image.svg) center center no-repeat !important;
}

.pimcore_icon_asset_unknown {
    background: url(/pimcore/static6/img/flat-color-icons/unknown.svg) center center no-repeat !important;
}

.x-tree-icon-custom.pimcore_icon_asset_default {
    background-image: url(/pimcore/static6/img/flat-color-icons/unknown.svg);
    background-position: center center;
    background-repeat: no-repeat;
}

.pimcore_icon_pdf {
    background: url(/pimcore/static6/img/flat-color-icons/pdf.svg) center center no-repeat !important;
}

.pimcore_icon_xls, .pimcore_icon_xlsx, .pimcore_icon_csv {
    background: url(/pimcore/static6/img/flat-color-icons/excel.svg)  center center no-repeat !important;
}

.pimcore_icon_ppt, .pimcore_icon_pps, .pimcore_icon_ppsx, .pimcore_icon_pptx {
    background: url(/pimcore/static6/img/flat-color-icons/powerpoint.svg) center center no-repeat !important;
}

.pimcore_icon_txt, .pimcore_icon_log, .pimcore_icon_css, .pimcore_icon_rtf {
    background: url(/pimcore/static6/img/flat-color-icons/text.svg) center center no-repeat !important;
}

.pimcore_icon_mpg, .pimcore_icon_mpeg, .pimcore_icon_divx, .pimcore_icon_avi, .pimcore_icon_mov, .pimcore_icon_wmv, .pimcore_icon_3gp, .pimcore_icon_f4v, .pimcore_icon_flv, .pimcore_icon_mp4, .pimcore_icon_webm, .pimcore_icon_video {
    background: url(/pimcore/static6/img/flat-color-icons/clapperboard.svg) center center no-repeat !important;
}

.pimcore_icon_mp3, .pimcore_icon_aac, .pimcore_icon_flac, .pimcore_icon_ogg, .pimcore_icon_wav, .pimcore_icon_wma, .pimcore_icon_ogg {
    background: url(/pimcore/static6/img/flat-color-icons/speaker.svg) center center no-repeat !important;
}



.pimcore_icon_loading {
    background: url(/pimcore/static6/img/panel-loader.gif) center center no-repeat !important;
}



.pimcore_icon_help, .pimcore_icon_operator_assetmetadatagetter {
    background: url(/pimcore/static6/img/flat-color-icons/info.svg) center center no-repeat !important;
}

.pimcore_icon_user {
    background: url(/pimcore/static6/img/flat-color-icons/businesswoman.svg) center center no-repeat !important;
}

.pimcore_icon_usergroup, .pimcore_icon_save_and_share{
    background: url(/pimcore/static6/img/flat-color-icons/collaboration.svg) center center no-repeat !important;
}

.pimcore_icon_roles {
    background: url(/pimcore/static6/img/flat-color-icons/conference_call.svg) center center no-repeat !important;
}

.pimcore_icon_thumbnails {
    background: url(/pimcore/static6/img/flat-color-icons/stack_of_photos.svg) center center no-repeat !important;
}

.pimcore_icon_system {
    background: url(/pimcore/static6/img/flat-color-icons/services.svg) center center no-repeat !important;
}

.pimcore_icon_plugin, .pimcore_icon_bundle {
    background: url(/pimcore/static6/img/flat-color-icons/puzzle.svg) center center no-repeat !important;
}

.pimcore_icon_log_admin {
    background: url(/pimcore/static6/img/flat-color-icons/rules.svg) center center no-repeat !important;
}

.pimcore_icon_doctypes {
    background: url(/pimcore/static6/img/flat-color-icons/file-types.svg) center center no-repeat !important;
}

.pimcore_icon_update {
    background: url(/pimcore/static6/img/flat-color-icons/process.svg) center center no-repeat !important;
}

.pimcore_icon_documentation {
    background: url(/pimcore/static6/img/flat-color-icons/reading.svg) center center no-repeat !important;
}

.pimcore_icon_github {
    background: url(/pimcore/static6/img/github.svg) center center no-repeat !important;
}

.pimcore_icon_about {
    background: url(/pimcore/static6/img/flat-color-icons/about.svg) center center no-repeat !important;
}

.pimcore_icon_backup {
    background: url(/pimcore/static6/img/flat-color-icons/filing_cabinet.svg) center center no-repeat !important;
}

.pimcore_icon_glossary {
    background: url(/pimcore/static6/img/flat-color-icons/decision.svg) center center no-repeat !important;
}

.pimcore_icon_tabs {
    background: url(/pimcore/static6/img/flat-color-icons/tabs.svg) center center no-repeat !important;
}

.pimcore_icon_clear_cache {
    background: url(/pimcore/static6/img/flat-color-icons/flash_on.svg) center center no-repeat !important;
}

.pimcore_icon_clear_filters {
    background: url(/pimcore/static6/img/flat-color-icons/clear_filters.svg) center center no-repeat !important;
}

.pimcore_icon_fieldcollection, .pimcore_icon_fieldcollections {
    background: url(/pimcore/static6/img/flat-color-icons/fieldcollection.svg) center center no-repeat !important;
}

.pimcore_icon_properties {
    background: url(/pimcore/static6/img/flat-color-icons/candle_sticks.svg) center center no-repeat !important;
}

.pimcore_icon_upload {
    background: url(/pimcore/static6/img/flat-color-icons/upload.svg) center center no-repeat !important;
}

.pimcore_icon_download {
    background: url(/pimcore/static6/img/flat-color-icons/download.svg) center center no-repeat !important;
}

.pimcore_icon_class {
    background: url(/pimcore/static6/img/flat-color-icons/timeline.svg) center center no-repeat !important;
}

.pimcore_icon_region {
    background: url(/pimcore/static6/img/flat-color-icons/template.svg) center center no-repeat !important;
}

.pimcore_icon_accordion {
    background: url(/pimcore/static6/img/flat-color-icons/accordion.svg) center center no-repeat !important;
}

.pimcore_icon_fieldset {
    background: url(/pimcore/static6/img/flat-color-icons/fieldset.svg) center center no-repeat !important;
}

.pimcore_icon_fieldcontainer {
    background: url(/pimcore/static6/img/flat-color-icons/row.svg) center center no-repeat !important;
}

.pimcore_icon_panel {
    background: url(/pimcore/static6/img/flat-color-icons/panel.svg) center center no-repeat !important;
}

.pimcore_icon_tabpanel {
    background: url(/pimcore/static6/img/flat-color-icons/tabs.svg) center center no-repeat !important;
}

.pimcore_icon_button {
    background: url(/pimcore/static6/img/flat-color-icons/button.svg) center center no-repeat !important;
}

.pimcore_icon_button {
    background: url(/pimcore/static6/img/flat-color-icons/button.svg) center center no-repeat !important;
}

.pimcore_icon_text {
    background: url(/pimcore/static6/img/flat-color-icons/kindle.svg) center center no-repeat !important;
}

.pimcore_icon_html {
    background: url(/pimcore/static6/img/flat-color-icons/wysiwyg.svg) center center no-repeat !important;
}


.pimcore_icon_routes {
    background: url(/pimcore/static6/img/flat-color-icons/mind_map.svg) center center no-repeat !important;
}

.pimcore_icon_redirects {
    background: url(/pimcore/static6/img/flat-color-icons/workflow.svg) center center no-repeat !important;
}


.pimcore_icon_dependencies {
    background: url(/pimcore/static6/img/flat-color-icons/parallel_tasks.svg) center center no-repeat !important;
}

.pimcore_icon_edit {
    background: url(/pimcore/static6/img/flat-color-icons/edit.svg) center center no-repeat !important;
}

.pimcore_icon_preview {
    background: url(/pimcore/static6/img/flat-color-icons/multiple_devices.svg) center center no-repeat !important;
}

.pimcore_icon_settings, .pimcore_icon_gridcolumnconfig, .pimcore_icon_importconfig {
    background: url(/pimcore/static6/img/flat-color-icons/settings.svg) center center no-repeat !important;
}

.pimcore_icon_targeting {
    background: url(/pimcore/static6/img/flat-color-icons/businessman.svg) center center no-repeat !important;
}

.pimcore_icon_versions {
    background: url(/pimcore/static6/img/flat-color-icons/org_unit.svg) center center no-repeat !important;
}

.pimcore_icon_variant {
    background: url(/pimcore/static6/img/flat-color-icons/variant.svg) center center no-repeat !important;
}

.pimcore_icon_seemode {
    background: url(/pimcore/static6/img/flat-color-icons/reading_ebook.svg) center center no-repeat !important;
}

.pimcore_icon_error {
    background: url(/pimcore/static6/img/flat-color-icons/high_priority.svg) center center no-repeat !important;
}

.pimcore_icon_warning {
    background: url(/pimcore/static6/img/flat-color-icons/warning.svg) center center no-repeat !important;
}

.pimcore_icon_view {
    background: url(/pimcore/static6/img/flat-color-icons/close_up_mode.svg) center center no-repeat !important;
}

.pimcore_icon_schedule {
    background: url(/pimcore/static6/img/flat-color-icons/calendar.svg) center center no-repeat !important;
}

.pimcore_icon_translations {
    background: url(/pimcore/static6/img/flat-color-icons/collaboration.svg) center center no-repeat !important;
}












.pimcore_icon_stop, .pimcore_icon_cancel {
    background: url(/pimcore/static6/img/flat-color-icons/cancel.svg) center center no-repeat !important;
}

.pimcore_icon_portlet_custom_reports {
    background: url(/pimcore/static6/img/flat-color-icons/doughnut_chart.svg) center center no-repeat !important;
}

.pimcore_icon_portlet_modification_statistic {
    background: url(/pimcore/static6/img/flat-color-icons/area_chart.svg) center center no-repeat !important;
}

.pimcore_icon_portlet_feed {
    background: url(/pimcore/static6/img/flat-color-icons/list.svg) center center no-repeat !important;
}

.pimcore_icon_welcome {
    background: url(/pimcore/static6/img/flat-color-icons/star.svg) center center no-repeat !important;
}

.pimcore_icon_reports {
    background: url(/pimcore/static6/img/flat-color-icons/pie_chart.svg) center center no-repeat !important;
}

.pimcore_icon_support {
    background: url(/pimcore/static6/img/flat-color-icons/support.svg) center center no-repeat !important;
}

.pimcore_icon_custom_views {
    background: url(/pimcore/static6/img/flat-color-icons/data_configuration.svg) center center no-repeat !important;
}

.pimcore_icon_website {
    background: url(/pimcore/static6/img/flat-color-icons/engineering.svg) center center no-repeat !important;
}

.pimcore_icon_analytics {
    background: url(/pimcore/static6/img/flat-color-icons/pie_chart.svg) center center no-repeat !important;
}

.pimcore_icon_analytics_explorer {
    background: url(/pimcore/static6/img/flat-color-icons/line_chart.svg) center center no-repeat !important;
}

.pimcore_icon_recyclebin {
    background: url(/pimcore/static6/img/flat-color-icons/full_trash.svg) center center no-repeat !important;
}

.pimcore_icon_flush_recyclebin {
    background: url(/pimcore/static6/img/flat-color-icons/empty_trash.svg) center center no-repeat !important;
}

.pimcore_icon_restore {
    background: url(/pimcore/static6/img/flat-color-icons/redo.svg) center center no-repeat !important;
}
/* to keep compatibility with icon_notification_success - pimcore.helpers.showNotification */
.pimcore_icon_apply, .pimcore_icon_success {
    background: url(/pimcore/static6/img/flat-color-icons/ok.svg) center center no-repeat !important;
}

.pimcore_icon_accept {
    background: url(/pimcore/static6/img/flat-color-icons/ok.svg) center center no-repeat !important;
}

.pimcore_icon_image_editor_simple {
    background: url(/pimcore/static6/img/flat-color-icons/camera_addon.svg) center center no-repeat !important;
}

.pimcore_icon_exif {
    background: url(/pimcore/static6/img/flat-color-icons/camera.svg) center center no-repeat !important;
}

.pimcore_icon_image_editor_advanced {
    background: url(/pimcore/static6/img/flat-color-icons/camera_identification.svg) center center no-repeat !important;
}

.pimcore_icon_plus {
    background: url(/pimcore/static6/img/flat-color-icons/plus.svg) center center no-repeat !important;
}

.pimcore_icon_minus {
    background: url(/pimcore/static6/img/flat-color-icons/delete.svg) center center no-repeat !important;
}

.pimcore_icon_up {
    background: url(/pimcore/static6/img/flat-color-icons/collapse.svg) center center no-repeat !important;
}

.pimcore_icon_down {
    background: url(/pimcore/static6/img/flat-color-icons/expand.svg) center center no-repeat !important;
}

.pimcore_icon_move {
    background: url(/pimcore/static6/img/flat-color-icons/arrows.svg) !important;
}

.pimcore_icon_empty {
    background: url(/pimcore/static6/img/flat-color-icons/full_trash.svg) center center no-repeat !important;
}

.pimcore_icon_area {
    background: url(/pimcore/static6/img/flat-color-icons/area.svg) center center no-repeat !important;
}

.pimcore_icon_file {
    background: url(/pimcore/static6/img/flat-color-icons/file-border.svg) center center no-repeat !important;
}

.pimcore_icon_file_types {
    background: url(/pimcore/static6/img/flat-color-icons/file-types.svg) center center no-repeat !important;
}

.pimcore_icon_file_plain {
    background: url(/pimcore/static6/img/flat-color-icons/file.svg) center center no-repeat !important;
}

.pimcore_icon_import_server {
    background: url(/pimcore/static6/img/flat-color-icons/electronics.svg) center center no-repeat !important;
}

.pimcore_icon_maintenance {
    background: url(/pimcore/static6/img/flat-color-icons/stop-circle.svg) center center no-repeat !important;
}

.pimcore_icon_info {
    background: url(/pimcore/static6/img/flat-color-icons/info.svg) center center no-repeat !important;
}

.pimcore_icon_php {
    background: url(/pimcore/static6/img/flat-color-icons/php.svg) center center no-repeat !important;
}

.pimcore_icon_server_info {
    background: url(/pimcore/static6/img/flat-color-icons/electronics.svg) center center no-repeat !important;
}

.pimcore_icon_mysql {
    background: url(/pimcore/static6/img/flat-color-icons/mysql.svg) center center no-repeat !important;
}

.pimcore_icon_videothumbnails {
    background: url(/pimcore/static6/img/flat-color-icons/film_reel.svg) center center no-repeat !important;
}

.pimcore_icon_videoedit {
    background: url(/pimcore/static6/img/icon/film_edit.png) center center no-repeat !important;
}

.pimcore_icon_seo {
    background: url(/pimcore/static6/img/flat-color-icons/google.svg) center center no-repeat !important;
}

.pimcore_icon_robots {
    background: url(/pimcore/static6/img/flat-color-icons/nook.svg) center center no-repeat !important;
}

.pimcore_icon_show_in_tree {
    background: url(/pimcore/static6/img/flat-color-icons/tree_select.svg) center center no-repeat !important;
}

.pimcore_icon_tag {
    background: url(/pimcore/static6/img/flat-color-icons/tag.svg) center center no-repeat !important;
}

.pimcore_icon_httperrorlog {
    background: url(/pimcore/static6/img/flat-color-icons/medium_priority.svg) center center no-repeat !important;
}

.pimcore_icon_groupby {
    background: url(/pimcore/static6/img/flat-color-icons/group-by.svg) center center no-repeat !important;
}

.pimcore_icon_desktop {
    background: url(/pimcore/static6/img/flat-color-icons/laptop.svg) center center no-repeat !important;
}

.pimcore_icon_mobile {
    background: url(/pimcore/static6/img/flat-color-icons/two_smartphones.svg) center center no-repeat !important;
}

.pimcore_icon_systemrequirements {
    background: url(/pimcore/static6/img/flat-color-icons/factory.svg) center center no-repeat !important;
}

.pimcore_icon_notes {
    background: url(/pimcore/static6/img/flat-color-icons/survey.svg) center center no-repeat !important;
}

.pimcore_icon_cleanup {
    background: url(/pimcore/static6/img/flat-color-icons/full_trash.svg) center center no-repeat !important;
}

.pimcore_icon_world {
    background: url(/pimcore/static6/img/flat-color-icons/globe.svg) center center no-repeat !important;
}

.pimcore_icon_overwrite {
    background: url(/pimcore/static6/img/flat-color-icons/low_priority.svg) center center no-repeat !important;
}

.pimcore_icon_tv {
    background: url(/pimcore/static6/img/flat-color-icons/tv.svg) center center no-repeat !important;
}

.pimcore_icon_tablet {
    background: url(/pimcore/static6/img/flat-color-icons/tablet_android.svg) center center no-repeat !important;
}

.pimcore_icon_newsletter {
    background: url(/pimcore/static6/img/flat-color-icons/feedback.svg) center center no-repeat !important;
}

.pimcore_icon_menu_clear_thumbnails {
    background: url(/pimcore/static6/img/flat-color-icons/flash_on.svg) center center no-repeat !important;
}

.pimcore_icon_target_group,
.pimcore_icon_target_groups,
.pimcore_icon_targetGroup,
.pimcore_icon_targetGroupMultiselect,
.pimcore_icon_personas,
.pimcore_icon_persona,
.pimcore_icon_personamultiselect {
    background: url(/pimcore/static6/img/flat-color-icons/manager.svg) center center no-repeat !important;
}

.pimcore_icon_highlight {
    background: url(/pimcore/static6/img/flat-color-icons/idea.svg) center center no-repeat !important;
}

.pimcore_icon_info {
    background: url(/pimcore/static6/img/flat-color-icons/info.svg) center center no-repeat !important;
}

.pimcore_icon_video {
    background: url(/pimcore/static6/img/flat-color-icons/clapperboard.svg) center center no-repeat !important;
}

.pimcore_icon_metadata {
    background: url(/pimcore/static6/img/flat-color-icons/crystal_oscillator.svg) center center no-repeat !important;
}

.pimcore_icon_merge {
    background: url(/pimcore/static6/img/flat-color-icons/flow_chart.svg) center center no-repeat !important;
}

.pimcore_icon_arrow_right  {
    background: url(/pimcore/static6/img/flat-color-icons/right.svg) center center no-repeat !important;
}

.pimcore_icon_revert  {
    background: url(/pimcore/static6/img/flat-color-icons/undo.svg) center center no-repeat !important;
}

.pimcore_icon_hourglass  {
    background: url(/pimcore/static6/img/flat-color-icons/hourglass.svg) center center no-repeat !important;
}

.pimcore_icon_element_tags {
    background: url(/pimcore/static6/img/flat-color-icons/label.svg) center center no-repeat !important;
}

.pimcore_icon_more {
    background: url(/pimcore/static6/img/flat-color-icons/more.svg) center center no-repeat !important;
}

.pimcore_icon_export{
    background: url(/pimcore/static6/img/flat-color-icons/internal.svg) center center no-repeat !important;
}

.pimcore_icon_import{
    background: url(/pimcore/static6/img/flat-color-icons/external.svg) center center no-repeat !important;
}

.pimcore_icon_clone  {
    background: url(/pimcore/static6/img/flat-color-icons/clone.svg) center center no-repeat !important;
}

.pimcore_icon_white_flag  {
    background: url(/pimcore/static6/img/flat-color-icons/tag.svg) center center no-repeat !important;
}

.pimcore_icon_quantityValue {
    background: url(/pimcore/static6/img/flat-color-icons/currency_exchange.svg) center center no-repeat !important;
}

.pimcore_icon_inputQuantityValue {
    background: url(/pimcore/static6/img/flat-color-icons/add_row.svg) center center no-repeat !important;
}

.pimcore_icon_calculatedValue {
    background: url(/pimcore/static6/img/flat-color-icons/calculator.svg) center center no-repeat !important;
}

.pimcore_icon_classificationstore  {
    background: url(/pimcore/static6/img/flat-color-icons/view_details.svg) center center no-repeat !important;
}

.pimcore_icon_classificationstore_icon_group  {
    background: url(/pimcore/static6/img/icon/classificationstore-group.png) center center no-repeat !important;
}

.pimcore_icon_classificationstore_icon_subgroup  {
    background: url(/pimcore/static6/img/icon/classificationstore-subgroup.png) center center no-repeat !important;
}

.pimcore_icon_classificationstore_icon_cs_collections  {
    background: url(/pimcore/static6/img/icon/application_view_tile.png) center center no-repeat !important;
}

.pimcore_icon_image_region {
    background: url(/pimcore/static6/img/flat-color-icons/image-region.svg) center center no-repeat !important;
}

.pimcore_icon_marker {
    background: url(/pimcore/static6/img/flat-color-icons/marker.svg) center center no-repeat !important;
}

.pimcore_icon_keys {
    background: url(/pimcore/static6/img/flat-color-icons/keys.svg) center center no-repeat !important;
}

.pimcore_icon_data_group_structured {
    background: url(/pimcore/static6/img/flat-color-icons/grid.svg) center center no-repeat !important;
}

.pimcore_icon_data_group_select {
    background: url(/pimcore/static6/img/flat-color-icons/list.svg) center center no-repeat !important;
}

.pimcore_icon_data_group_numeric {
    background: url(/pimcore/static6/img/flat-color-icons/display.svg) center center no-repeat !important;
}

.pimcore_icon_data_group_text {
    background: url(/pimcore/static6/img/flat-color-icons/text.svg) center center no-repeat !important;
}

.pimcore_icon_data_group_date {
    background: url(/pimcore/static6/img/flat-color-icons/calendar.svg) center center no-repeat !important;
}
.pimcore_icon_data_group_other {
    background: url(/pimcore/static6/img/flat-color-icons/bookmark.svg) center center no-repeat !important;
}

.pimcore_icon_data_group_geo {
    background: url(/pimcore/static6/img/flat-color-icons/marker.svg) center center no-repeat !important;
}

.pimcore_icon_data_group_relation {
    background: url(/pimcore/static6/img/flat-color-icons/genealogy.svg) center center no-repeat !important;
}

.pimcore_icon_data_group_crm {
    background: url(/pimcore/static6/img/flat-color-icons/online_support.svg) center center no-repeat !important;
}

.pimcore_icon_password {
    background: url(/pimcore/static6/img/flat-color-icons/lock.svg) center center no-repeat !important;
}

.pimcore_icon_language {
    background: url(/pimcore/static6/img/flat-color-icons/collaboration.svg) center center no-repeat !important;
}

.pimcore_icon_languagemultiselect {
    background: url(/pimcore/static6/img/flat-color-icons/collaboration-multiple.svg) center center no-repeat !important;
}

.pimcore_icon_multiselect {
    background: url(/pimcore/static6/img/flat-color-icons/todo_list.svg) center center no-repeat !important;
}

.pimcore_icon_country {
    background: url(/pimcore/static6/img/flat-color-icons/globe.svg) center center no-repeat !important;
}

.pimcore_icon_countrymultiselect {
    background: url(/pimcore/static6/img/flat-color-icons/globe-multiple.svg) center center no-repeat !important;
}

.pimcore_icon_geopoint {
    background: url(/pimcore/static6/img/flat-color-icons/marker.svg) center center no-repeat !important;
}

.pimcore_icon_geobounds {
    background: url(/pimcore/static6/img/flat-color-icons/rectangle.svg) center center no-repeat !important;
}

.pimcore_icon_geopolygon {
    background: url(/pimcore/static6/img/flat-color-icons/radar_plot.svg) center center no-repeat !important;
}

.pimcore_icon_time {
    background: url(/pimcore/static6/img/flat-color-icons/clock.svg) center center no-repeat !important;
}

.pimcore_icon_objectbricks, .pimcore_icon_brick, .pimcore_icon_areabrick {
    background: url(/pimcore/static6/img/flat-color-icons/bricks.svg) center center no-repeat !important;
}

.pimcore_icon_href {
    background: url(/pimcore/static6/img/flat-color-icons/href.svg) center center no-repeat !important;
}

.pimcore_icon_multihref {
    background: url(/pimcore/static6/img/flat-color-icons/multihref.svg) center center no-repeat !important;
}

.pimcore_icon_table {
    background: url(/pimcore/static6/img/flat-color-icons/grid.svg) center center no-repeat !important;
}

.pimcore_icon_table_tab, .pimcore_icon_operator_iterator {
    background: url(/pimcore/static6/img/flat-color-icons/list.svg) center center no-repeat !important;
}

.pimcore_icon_structuredTable {
    background: url(/pimcore/static6/img/flat-color-icons/data_sheet.svg) center center no-repeat !important;
}

.pimcore_icon_input {
    background: url(/pimcore/static6/img/flat-color-icons/row.svg) center center no-repeat !important;
}

.pimcore_icon_firstname {
    background: url(/pimcore/static6/img/flat-color-icons/businesswoman.svg) center center no-repeat !important;
}

.pimcore_icon_lastname {
    background: url(/pimcore/static6/img/flat-color-icons/businessman.svg) center center no-repeat !important;
}

.pimcore_icon_newsletterActive {
    background: url(/pimcore/static6/img/flat-color-icons/invite.svg) center center no-repeat !important;
}

.pimcore_icon_newsletterConfirmed {
    background: url(/pimcore/static6/img/flat-color-icons/feedback.svg) center center no-repeat !important;
}

.pimcore_icon_textarea {
    background: url(/pimcore/static6/img/flat-color-icons/text.svg) center center no-repeat !important;
}

.pimcore_icon_wysiwyg {
    background: url(/pimcore/static6/img/flat-color-icons/wysiwyg.svg) center center no-repeat !important;
}

.pimcore_icon_image {
    background: url(/pimcore/static6/img/flat-color-icons/image.svg) center center no-repeat !important;
}

.pimcore_icon_externalImage {
    background: url(/pimcore/static6/img/flat-color-icons/photo_reel.svg) center center no-repeat !important;
}

.pimcore_icon_hotspotimage {
    background: url(/pimcore/static6/img/flat-color-icons/stack_of_photos.svg) center center no-repeat !important;
}

.pimcore_icon_imageGallery {
    background: url(/pimcore/static6/img/flat-color-icons/gallery.svg) center center no-repeat !important;
}

.pimcore_icon_numeric {
    background: url(/pimcore/static6/img/flat-color-icons/numerical_sorting_12.svg) center center no-repeat !important;
}

.pimcore_icon_select {
    background: url(/pimcore/static6/img/flat-color-icons/expand.svg) center center no-repeat !important;
}

.pimcore_icon_booleanSelect {
    background: url(/pimcore/static6/img/flat-color-icons/more.svg) center center no-repeat !important;
}


.pimcore_icon_gender {
    background: url(/pimcore/static6/img/flat-color-icons/manager.svg) center center no-repeat !important;
}

.pimcore_icon_date {
    background: url(/pimcore/static6/img/flat-color-icons/planner.svg) center center no-repeat !important;
}

.pimcore_icon_datetime {
    background: url(/pimcore/static6/img/flat-color-icons/overtime.svg) center center no-repeat !important;
}

.pimcore_icon_checkbox, .pimcore_icon_bool {
    background: url(/pimcore/static6/img/flat-color-icons/checkmark.svg) center center no-repeat !important;
}

.pimcore_icon_slider {
    background: url(/pimcore/static6/img/flat-color-icons/neutral_trading.svg) center center no-repeat !important;
}

.pimcore_icon_nonownerobjects {
    background: url(/pimcore/static6/img/flat-color-icons/group-by.svg) center center no-repeat !important;
}

.pimcore_icon_objects {
    background: url(/pimcore/static6/img/flat-color-icons/objects.svg) center center no-repeat !important;
}

.pimcore_icon_objectsMetadata {
    background: url(/pimcore/static6/img/flat-color-icons/objects-meta.svg) center center no-repeat !important;
}

.pimcore_icon_multihrefMetadata {
    background: url(/pimcore/static6/img/flat-color-icons/multihref-meta.svg) center center no-repeat !important;
}

.pimcore_icon_table_col {
    background: url(/pimcore/static6/img/flat-color-icons/table-column.svg) center center no-repeat !important;
}

.pimcore_icon_table_row {
    background: url(/pimcore/static6/img/flat-color-icons/table-row.svg)  center center no-repeat !important;
}

.pimcore_icon_localizedfields {
    background: url(/pimcore/static6/img/flat-color-icons/localizedfields.svg) center center no-repeat !important;
}

.pimcore_icon_qrcode {
    background: url(/pimcore/static6/img/icon/qr-code.png) center center no-repeat !important;
}

.pimcore_icon_pimcore {
    background: url(/pimcore/static6/img/flat-color-icons/pimcore-sign.svg) center center no-repeat !important;
}

.pimcore_icon_sql {
    background: url(/pimcore/static6/img/flat-color-icons/database.svg) center center no-repeat !important;
}

.pimcore_icon_perspective {
    background: url(/pimcore/static6/img/flat-color-icons/reading.svg) center center no-repeat !important;
}

.pimcore_icon_filter_condition {
    background: url(/pimcore/static6/img/flat-color-icons/empty_filter.svg) center center no-repeat !important;
}


.pimcore_icon_pdf {
    background: url(/pimcore/static6/img/flat-color-icons/pdf.svg) center center no-repeat !important;
}

.pimcore_icon_printpage {
    background: url(/pimcore/static6/img/flat-color-icons/news.svg) center center no-repeat !important;
}

.pimcore_icon_printcontainer {
    background: url(/pimcore/static6/img/flat-color-icons/book.svg) center center no-repeat !important;
}

.pimcore_icon_workflow_action {
    background: url(/pimcore/static6/img/flat-color-icons/workflow.svg) center center no-repeat !important
}

.pimcore_icon_block {
    background: url(/pimcore/static6/img/flat-color-icons/filing_cabinet.svg) center center no-repeat !important;
}

.pimcore_icon_print {
    background: url(/pimcore/static6/img/flat-color-icons/print.svg) center center no-repeat !important;
}

.pimcore_icon_hotspotmarker_template {
    background: url(/pimcore/static6/img/flat-color-icons/data_configuration.svg) center center no-repeat !important;
}

.pimcore_icon_operator_concatenator {
    background: url("/pimcore/static6/img/flat-color-icons/capacitor.svg") center center no-repeat !important;
}

.pimcore_icon_operator_json, .pimcore_icon_operator_php {
    background: url("/pimcore/static6/img/flat-color-icons/biotech.svg") center center no-repeat !important;
}

.pimcore_icon_operator_text {
    background: url("/pimcore/static6/img/flat-color-icons/text.svg") center center no-repeat !important;
}

.pimcore_icon_operator_boolean {
    background: url("/pimcore/static6/img/flat-color-icons/electronics.svg") center center no-repeat !important;
}

.pimcore_icon_operator_object_field_getter {
    background: url("/pimcore/static6/img/flat-color-icons/reuse.svg") center center no-repeat !important;
}

.pimcore_icon_operator_lfexpander {
    background: url("/pimcore/static6/img/flat-color-icons/globe.svg") center center no-repeat !important;
}

.pimcore_icon_operator_booleanformatter {
    background: url("/pimcore/static6/img/flat-color-icons/inspection.svg") center center no-repeat !important;
}

.pimcore_icon_operator_caseconverter, .pimcore_icon_operator_substring, .pimcore_icon_operator_trimmer, .pimcore_icon_operator_stringreplace, .pimcore_icon_operator_stringcontains {
    background: url("/pimcore/static6/img/flat-color-icons/word.svg") center center no-repeat !important;
}

.pimcore_icon_operator_localeswitcher {
    background: url("/pimcore/static6/img/flat-color-icons/assistant.svg") center center no-repeat !important;
}


.pimcore_icon_operator_anonymizer {
    background: url("/pimcore/static6/img/flat-color-icons/disapprove.svg") center center no-repeat !important;
}

.pimcore_icon_operator_anygetter {
    background: url("/pimcore/static6/img/flat-color-icons/electro_devices.svg") center center no-repeat !important;
}

.pimcore_icon_operator_isequal {
    background: url("/pimcore/static6/img/flat-color-icons/multiple_smartphones.svg") center center no-repeat !important;
}

.pimcore_icon_operator_merge {
    background: url("/pimcore/static6/img/flat-color-icons/multiple_inputs.svg") center center no-repeat !important;
}

.pimcore_icon_operator_phpcode {
    background: url("/pimcore/static6/img/flat-color-icons/sim_card_chip.svg") center center no-repeat !important;
}

.pimcore_icon_operator_charcounter, .pimcore_icon_operator_elementcounter, .pimcore_icon_operator_arithmetic {
    background: url(/pimcore/static6/img/flat-color-icons/calculator.svg) center center no-repeat !important;
}

.pimcore_icon_favourite {
    background: url(/pimcore/static6/img/flat-color-icons/star.svg) center center no-repeat !important;
}

.pimcore_icon_collapse_children {
    background: url(/pimcore/static6/img/flat-color-icons/genealogy.svg) center center no-repeat !important;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: "FlipH";
    -ms-filter: "FlipH";
}

.pimcore_icon_expand_children {
    background: url(/pimcore/static6/img/flat-color-icons/genealogy.svg) center center no-repeat !important;
}

.pimcore_icon_piwik {
    background: url(/pimcore/static6/img/piwik.svg) center center no-repeat !important;
    color: #d4291f;
}

.pimcore_icon_piwik_api_create {
    background: url(/pimcore/static6/img/flat-color-icons/external.svg) center center no-repeat !important;
}

.pimcore_icon_piwik_api_update {
    background: url(/pimcore/static6/img/flat-color-icons/synchronize.svg) center center no-repeat !important;
}

.pimcore_icon_operator_ignore {
    background: url(/pimcore/static6/img/flat-color-icons/cancel.svg) center center no-repeat !important;
}

.pimcore_icon_operator_base64 {
    background: url(/pimcore/static6/img/flat-color-icons/in_transit.svg) center center no-repeat !important;
}

.pimcore_icon_import_report {
    background: url("/pimcore/static6/img/flat-color-icons/inspection.svg") center center no-repeat !important;
}

.pimcore_icon_start_import {
    background: url("/pimcore/static6/img/flat-color-icons/import.svg") center center no-repeat !important;
}

.pimcore_icon_gdpr  {
    background: url(/pimcore/static6/img/flat-color-icons/feedback.svg) left center no-repeat !important;
}

.pimcore_icon_right {
    background: url(/pimcore/static6/img/flat-color-icons/go.svg) center center no-repeat !important;
}

.pimcore_icon_left {
    background: url(/pimcore/static6/img/flat-color-icons/go.svg) center center no-repeat !important;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: "FlipH";
    -ms-filter: "FlipH";
}
